<nav class="navbar navbar-expand-md navbar-light bg-whte py-md-3 border-bottom box-shadow">
  <div class="container">
    <a href="" class="navbar-brand">ANGULAR-TEST</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="menu">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a routerLink="" class="nav-link">Home</a>
        </li>
        <li class="nav-item active">
          <a routerLink="/documentation" class="nav-link">Documentation</a>
        </li>
        <li class="nav-item">
          <a routerLink="/login" class="nav-link">Login</a>
        </li>
        <a routerLink="/signup" class="btn btn-primary">Signup</a>
      </ul>
    </div>
  </div>
</nav>
<div class="bg-primary banner">
  <div class="container text-center">
    <h1>Documetation</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  </div>
</div>