<nav class="navbar navbar-expand-md navbar-light bg-whte py-md-3 border-bottom box-shadow">
  <div class="container">
    <a href="" class="navbar-brand">ANGULAR-TEST</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="menu">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a routerLink="" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a routerLink="/documentation" class="nav-link">Documentation</a>
        </li>
        <li class="nav-item active">
          <a routerLink="/login" class="nav-link">Login</a>
        </li>
        <a routerLink="/signup" class="btn btn-primary">Signup</a>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row justify-content-center mt-4">
    <div class="col-md-4">
      <form action="" method="POST">
        <div class="card box-shadow">
          <div class="card-body">
            <div class="form-group">
              <label for="forUsername">Username</label>
              <input type="text" class="form-control" id="forUsername" name="username" required>
            </div>
            <div class="form-group">
              <label for="forPassword">Password</label>
              <input type="password" class="form-control" id="forPassword" name="password" required>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary btn-block mt-2" >Login</button>
      </form>
    </div>
  </div>
</div>