<nav class="navbar navbar-expand-md navbar-light bg-whte py-md-3 border-bottom box-shadow">
    <div class="container">
      <a href="" class="navbar-brand">ANGULAR-TEST</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="menu">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a routerLink="" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a routerLink="/documentation" class="nav-link">Documentation</a>
          </li>
          <li class="nav-item">
            <a routerLink="/login" class="nav-link">Login</a>
          </li>
          <a routerLink="/signup" class="btn btn-primary">Signup</a>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="row justify-content-center mt-4">
      <div class="col-md-8">
        <form action="">
          <div class="card box-shadow">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label for="forFirstName">First Name</label>
                    <input type="text" class="form-control" id="forFirstName" name="fname" required>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="forMiddleName">Middle Name</label>
                    <input type="text" class="form-control" id="forMiddleName" name="mname" required>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="forLastName">Last Name</label>
                    <input type="text" class="form-control" id="forLastName" name="lname" required>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="forStreet">Street</label>
                <input type="text" class="form-control" id="forStreet" name="streetname" required>
              </div>
              <div class="row">
                <div class="col-md-8">
                  <div class="form-group">
                    <label for="forTowne">Towne</label>
                    <input type="text" class="form-control" id="forTowne" name="townename" required>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="forZip">ZIP</label>
                    <input type="number" class="form-control" id="forZIP" name="zipcode" required>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="forProvince">Province</label>
                <input type="text" class="form-control" id="forProvince" name="province" required>
              </div>
              <div class="form-group">
                <label for="forEmailAddress">Email Address</label>
                <input type="email" class="form-control" id="forEmailAddress" name="email_address" required>
              </div>
              <div class="form-group">
                <label for="forPhoneNumber">Phone Number</label>
                <input type="text" class="form-control" id="forPhoneNumber" name="phone_number" required>
              </div>
              <div class="form-group">
                <label for="forUsername">Username</label>
                <input type="text" class="form-control" id="forUsername" name="username" required>
              </div>
              <div class="form-group">
                <label for="forPassword">Password</label>
                <input type="password" class="form-control" id="forPassword" name="password" required>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary btn-block mt-2" >Signup</button>
        </form>
      </div>
    </div>
  </div>