<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <div class="container">
    <a href="/dasboard" class="navbar-brand">DASHBOARD-ANGULAR-TEST</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="menu">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a routerLink="logout" class="nav-link">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row mt-4">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <div class="mx-auto d-flex justify-content-center flex-wrap">
            <img src="https://via.placeholder.com/75x75" alt="Avatar" class="rounded">
          </div>
          <div class="mt-2">
            <button type="button" class="btn btn-success btn-block" data-toggle="modal" data-target="#createSurvey">Create Survey</button>
            <a routerLink="profile" class="btn btn-secondary btn-block">Edit Profile</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card bg-light mb-3">
        <div class="card-header">Active Surveys</div>
        <div class="card-body">
          <table class="table simple">
            <thead>
              <tr>
                <th scope="col">Title</th>
                <th scope="col">No. of Respondents</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Example Survey Title 1</td>
                <td>1</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="card bg-light mb-3">
        <div class="card-header">Answered Surveys</div>
        <div class="card-body">
            <table class="table simple">
              <thead>
                <tr>
                  <th scope="col">Title</th>
                  <th scope="col">Date Answered</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Example Survey Title 1</td>
                  <td>Oct 4, 2018</td>
                </tr>
              </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="modal" role="dialog" id="createSurvey">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title">Create survey</div>
          <button class="close" type="button" data-dismiss="modal">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="forSurveyTitle">Title</label>
            <input type="text" class="form-control" id="forSurveyTitle" name="surveytitle">
          </div>
          <div class="form-group">
            <label for="forSurveyCategory">Category</label>
            <select name="surveycategory" id="forSurveyCategory" class="form-control">
              <option value="Uncategorized">Uncategorized</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>