/* You can add global styles to this file, and also import other style files */
.border-bottom { 
    border-bottom: 1px solid #e5e5e5; 
}

.box-shadow { 
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); 
}